.Divider {
    height: 0.2rem !important;
    max-width: 10.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

@media (max-width: 576px) {
    .AdicionarJogador button {
        margin: 10px;
    }
}